<div class="section scrollspy" id="work">
<div class="container">
<h2 class="header text_b"> Latest Artikel </h2>
  <div class="row">
  {% for post in site.posts %}
    <div class="col s12 m4 l4">
      <div class="card {{ post.color }}">
        <div class="card-content white-text">
          <span class="subtitle"><strong>{{ post.title }}</strong></span>
          <br><br>
          <div class="subcenter">{{ post.excerpt | limit : 6 | truncate : 200 }}</div>
        </div>
        <div class="card-action">
          <a class="white-text tags" href="{{ post.url | prepend: site.baseurl }}"><span><i class="mdi-navigation-more-vert"></i> more
          <div class="chip subcontent right">
            <i class="mdi-action-alarm"></i>  {{ post.date | date: "%b %d, %Y"}}
          </div>
          </span></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>