<!-- Kategori Start  -->
<div class="section scrollspy" id="work">
 <div class="container">
      <h2 class="header text_b"> Kategori </h2>
      <div class="row">
      {% for link in site.links %}
          <div class="col s12 m4 l4">
               <div class="card">
                  <div class="card-image">
                    <img class="activator" src="{{ link.img }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ link.title }} <i class="mdi-navigation-more-vert right"></i></span>
                    <p><a href="{{ link.url }}">Lihat semua post</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ link.title }}<i class="mdi-navigation-close right"></i></span>
                    <p>{{ link.des }}</p>
                  </div>
              </div>
          </div>
        {% endfor %}  
      </div>
     </div>
  </div>
<!-- Kategori End -->