---
layout: suchaimi
---

{% include header.html %}

<div class="container">
      <div class="row">
          <div class="col s12 m12">
               <div class="card">
                  <div class="card-image">
                    <img class="activator" src="img/android.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Android Tutorial ( {{ site.categories['android'].size }} )</span>
              	  </div>
          </div>
        </div>
     </div>
  	

  	<div class="row">
         <div class="col s12 m12 l8">
               <div class="collection content">
                 {% for post in site.categories['android'] %}
                 
                 {% include android.html %}
                 
                 {% endfor %}
              </div>
         </div>
        

        <div class="col s12 m12 l4">
			<div class="col s12 m6 l12">
            {% include newsletter.html %}
        	</div>
        	<div class="col s12 m6 l12">
            {% include newsletter.html %}
        	</div>
        </div> 

   	</div> 

 </div>
 



{% include footer.html %}